@use '@styles/theme' as *;

.toggle-data {
    @include flex-center(normal, normal, center);
}

.cursor-pointer {
    cursor: pointer;
}

.table-container {
    height: calc(100vh - 190px);
}

.table-data {
    max-height: calc(100vh - 190px);
    overflow-y: scroll !important;
}
