@use '@styles/theme' as *;

.changepassword-wrapper {
    margin-top: 24px;

    @include breakpoints('2xl') {
        margin-top: 31px;
    }

    .heading-container {
        display: flex;
        flex-direction: column;
    }

    .changepassword-form {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 28px;

        @include breakpoints('2xl') {
            gap: 16px;
            margin-top: 30px;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
    }
}

.password-rules {
    margin-top: 12px;
    display: flex;
    flex-direction: column;

    .rule {
        display: flex;
        align-items: center;
        gap: 6px;
        color: $gray-500;
        transition: all 0.2s ease;
    }

    .active {
        color: $green-500;

        svg {
            filter: brightness(0) saturate(100%) invert(48%) sepia(91%) saturate(600%)
                hue-rotate(85deg);
        }
    }
}

.bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-class {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.drawer-header {
    border-bottom: 1px solid $border-text-gray;
    padding: 12px;
    display: flex;
    justify-content: flex-end;

    .cross-icon {
        cursor: pointer;
    }
}

.drawer-middle {
    padding: 8px 80px 10px 80px;
    position: relative;
    height: 100%;

    @include breakpoints('2xl') {
        padding: 16px 120px 10px 120px;
    }
}
