@use '@styles/theme' as *;

.main-container {
    @include flex-center(normal, normal, normal, 16px);
    padding: 16px;

    .left-section {
        width: 76%;

        .tracker-overview-wrapper {
            @include flex-center(normal, normal, normal, 12px);
            margin-top: 12px;
        }
    }

    .right-section {
        width: 24%;
    }
}
