@use '@styles/theme' as *;

.profile-page-wrapper {
    background-color: $body-gray;

    .profile-component {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 24px 40px;
        height: calc(100vh - 60px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px !important;
            display: block !important;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $gray-400 !important;
            border-radius: 16px !important;
        }
    }

    .assessment-remark {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }
}
