@use '@styles/theme' as *;

.assessment-page {
    height: calc(100vh - 80px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px !important;
        display: block !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-400 !important;
        border-radius: 16px !important;
    }
}

.search-bar {
    width: 25%;
}

// .table-container {
//     height: calc(100vh - 248px);
// }

// .table-wrapper {
//     height: 100%;
// }

// .table-data {
//     height: 80%;
//     overflow-y: scroll;
//     overflow-x: hidden;
// }

.table-row {
    @include flex-center(normal, normal, center, 12px);

    .clear-text {
        cursor: pointer;
    }
}

.shimmer-data {
    height: calc(100vh - 216px);
    margin: 16px;
    border: 1px solid $gray-300;
    border-radius: 12px;
}

.toggle-data {
    @include flex-center(normal, normal, center);
}

.cursor-pointer {
    cursor: pointer;
}

.capsule-container {
    padding: 2px 8px;
    border-radius: 16px;
    background-color: $green-0;
    color: $green-700;
    text-align: center;
    width: 85px;
}

.status-0 {
    padding: 2px 8px;
    border-radius: 16px;
    background-color: $orange-0;
    color: $orange-700;
    text-align: center;
    cursor: pointer;
    width: 86px;
}

.status-1 {
    padding: 2px 8px;
    border-radius: 16px;
    background-color: $green-0;
    color: $green-700;
    text-align: center;
    cursor: pointer;
    width: 86px;
}

.status-2 {
    padding: 2px 8px;
    border-radius: 16px;
    background-color: $gray-100;
    color: $black;
    text-align: center;
    cursor: pointer;
    width: 86px;
}

.assign-btn {
    color: #3538cd;
    background-color: #eef4ff;
    cursor: pointer;
    font-weight: 600;
}

.assign-btn:hover {
    text-decoration: underline;
}

.table-Session-text {
    color: $blue-500;
}

.dropdown-width {
    width: 20%;
}

.dropdown-bg {
    background-color: $white;
}
