@use '@styles/theme' as *;

.card {
    @include flex-center(column, normal, normal);
    padding: 0 24px;
}

.receiptive-language {
    @include flex-center(row, normal, start, 12px);
    width: 100%;
    // border-bottom: 1px solid var(--light-gray);
}

.receptive-left {
    width: 20%;
}

.receptive-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sub-level {
    @include flex-center(column);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 12px;

    margin-top: 6px;
}

.radioGroup {
    @include flex-center(column, normal, start, 4px);
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-top: 1px solid #f3f4f6;
    padding-top: 16px;
    margin-top: 10px;

    .actions {
        display: flex;
        align-items: center;
        gap: 12px;

        .progress {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 64px;
            height: 34px;

            background: #e0edff;
            color: #1d4ed8;

            border-radius: 14px;

            font-weight: 600;
            font-size: 14px;
        }

        .save-button {
            height: 36px;
            padding: 0 20px;
            border-radius: 8px;
        }
    }
}

.grid :global(.checkbox-wrapper) {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.accordion-shimmer {
    height: 350px;
    width: 100%;
}

.option-alignment {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.divider {
    height: 1px;
    background: var(--light-gray);
    margin: 20px 0;
}
