@use '@styles/theme' as *;

.muscle-tone-form {
    //  display: flex;
    display: block;
}

.bg-header-title {
    background-color: #f4ebff;
    padding: 12px 14px;
    margin: 0px 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
