@use '@styles/theme' as *;

.wrapper {
    border: 1px solid $gray-200;
    background: $white;
    border-radius: 12px;
    overflow: hidden;

    .pagination-container {
        border-top: 1px solid $gray-200;
        padding: 14px 24px;
    }
}

.body-argument {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 20px 20px;
    margin-top: 14px;
}
