@use '@styles/theme' as *;

.wrapper {
    border: 1px solid $gray-200;
    background: $white;
    border-radius: 12px;
    overflow: hidden;

    .pagination-container {
        border-top: 1px solid $gray-200;
        padding: 14px 24px;
    }
}
