@use '@styles/theme' as *;

.activity-container {
    display: flex;
    flex-direction: column;
    padding: 13px 20px;
    gap: 13px;
    height: 83vh;
    border-radius: 12px;
    overflow-y: auto;
    padding-right: 6px;
    background-color: $white;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.06),
        0 8px 24px rgba(0, 0, 0, 0.12);

    &::-webkit-scrollbar {
        width: 6px !important;
        display: block !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-200 !important;
        border-radius: 16px !important;
    }

    @include breakpoints('2xl') {
        height: 85vh;
    }

    .activity-gap {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .instruction-aligned {
        display: flex;
        gap: 8px;
    }

    .hr-instruction-line {
        height: 24px;
        width: 8px;
        border: none;
    }

    .content-activity-schedule {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
