@use '@styles/theme' as *;

.sidebar-wrapper {
    min-width: 280px;
    height: 100vh;
    background-color: $white;
    border-right: 1px solid $gray-250;
    display: inline-flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 60px;

    .sidebar-header {
        display: flex;
        justify-content: center;
    }

    .sub-menu {
        margin-top: 10px;
        padding: 0px 10px;
    }

    .sidebar-menu {
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: stretch;

        .sidebar-item {
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 12px;
            transition:
                background-color 0.2s ease,
                color 0.2s ease;
            gap: 2px;

            // &:hover,
            // &.active {
            //     color: $primary-nav-link;
            //     // background-color: $primary-nav-link;
            //     // border-radius: 6px;

            //     span {
            //         color: $primary-nav-link;
            //     }

            //     .icon {
            //         filter: brightness(0) invert(1);
            //     }
            // }
        }

        .sidebar-item-selected {
            background-color: $primary-nav-link;
            border-radius: 6px;

            span {
                color: $white;
            }

            .icon {
                filter: brightness(0) invert(1);
            }
        }

        .whitespace {
            white-space: nowrap;
        }
    }

    .sidebar-text {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .chevron {
        transform: rotate(270deg);
    }
}
