@use '@styles/theme' as *;

.container-wrapper {
    width: 100%;
    background: $white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 18px;

    @include breakpoints('lg') {
        padding: 8px 28px;
    }

    @include breakpoints('xl') {
        padding: 8px 120px;
    }

    .btn-class {
        padding: 8px 34px;
        height: 40px;

        &:hover {
            background-color: #7045d5;
        }
    }
}
