@use '@styles/theme' as *;

.overview-wrapper {
    display: flex;
    width: 50%;
    height: 64vh;
    padding: 13px 15px;
    flex-direction: column;
    gap: 16px;
    border-radius: 12px;
    background-color: $white;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.06),
        0 8px 24px rgba(0, 0, 0, 0.12);

    @include breakpoints('2xl') {
        height: 72vh;
    }

    .overview-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 13px;

        .btn-class {
            padding: 6px 10px;
            border-radius: 8px;
            background-color: $white;
            border: 1px solid $gray-300;
        }
    }

    .no-data {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
    }
}
