@use '@styles/theme' as *;

.container-wrapper {
    width: 100%;
    background: $white;
    border-bottom: 1px solid $neutral-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px 18px 20px;

    .logged-user {
        display: flex;
        gap: 24px;
    }

    .logged-role {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
}
