@use '@styles/theme' as *;

.layout {
    .lower-layout {
        display: flex;
    }
}

.page {
    background-color: #f9f9f9;
    width: 100%;

    .content {
        padding: 0px 16px;
        height: calc(100vh - 120px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 6px !important;
            display: block !important;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $gray-400 !important;
            border-radius: 16px !important;
        }
    }
}

.accordion-shimmer {
    height: 350px;
    width: 100%;
}

.header {
    @include flex-center(column, normal, normal, 4px);
    margin: 20px 0;
}

.header-shimmer {
    height: 68px;
    width: 100%;
}

.sidebar-shimmer {
    width: 420px;
    height: calc(100vh - 68px);
}

.content-shimmer {
    flex: 1;
    height: calc(100vh - 68px);
}
