@use '@styles/theme' as *;

.main-dashboard-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;

    .header {
        width: calc(100vw - 280px);
        background-color: $bg-gray;
    }
}

.shimmer {
    height: calc(100vh - 100px);
    margin: 24px;
    border-radius: 16px;
}
