@use '@styles/theme' as *;

.assessment-page {
    height: calc(100vh - 80px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px !important;
        display: block !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-400 !important;
        border-radius: 16px !important;
    }
}

.search-bar {
    width: 25%;
}

// .table-container {
//     height: calc(100vh - 248px);
// }

// .table-wrapper {
//     height: 100%;
// }

// .table-data {
//     height: 80%;
//     overflow-y: scroll;
//     overflow-x: hidden;
// }

.table-row {
    @include flex-center(normal, normal, center, 12px);

    .clear-text {
        cursor: pointer;
    }
}

.shimmer-data {
    height: calc(100vh - 216px);
    margin: 16px;
    border: 1px solid $gray-300;
    border-radius: 12px;
}

.toggle-data {
    @include flex-center(normal, normal, center);
}

.cursor-pointer {
    cursor: pointer;
}

.name-container {
    display: flex;
    gap: 10px;
}

.case-history {
    text-decoration: underline;
    cursor: pointer;
}

.btn-primary {
    background-color: $primary-nav-link;
    border: 1px solid $primary-nav-link;
    border-radius: 8px;
}

.btn-outline {
    background-color: $white;
    border: 1px solid $gray-300;
    border-radius: 8px;
}

.date-container {
    display: flex;
    flex-direction: column;
}

.capsule-container {
    padding: 2px 8px;
    border-radius: 16px;
    color: $green-700;
    text-align: start;
    width: 70px;
}

.assign-capsule-container {
    padding: 2px 8px;
    border-radius: 16px;
    background-color: $indigo-50;
    color: $indigo-blue;
    text-align: center;
    cursor: pointer;
}

.status-pending {
    background-color: $orange-0;
    color: $orange-700;
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 86px;
}

.status-scheduled {
    background-color: $gray-100;
    color: $black;
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 86px;
}

.status-done {
    background-color: $green-0;
    color: $green-700;
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 86px;
}

.table-Session-text {
    color: $blue-500;
}

.dropdown-width {
    width: 20%;
}

.dropdown-bg {
    background-color: $white;
}

.cursor {
    cursor: pointer;
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background: $white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 160px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    cursor: pointer;

    &:hover {
        background: #f5f5f5;
    }
}
