@use '@styles/theme' as *;

.title-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.assesment-table-wrap {
    background-color: $white;
    border: 1px solid $gray-300;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

.assessment-type {
    display: flex;
    gap: 8px;
}

.assessment-text-wrap {
    display: flex;
    flex-direction: column;
}

.no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 120px;
}

.action-icon {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}

.header-className {
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr !important;
}

.headerBaseClass {
    width: 100px !important;
    word-wrap: break-word !important;
}

.small-table-class {
    padding: 20px;
}
