@use '@styles/theme' as *;

.studentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    margin: 25px 25px 0px 25px;
    border-radius: 14px;
    border: 1px solid $gray-200;
    background-color: #ecfdf3;

    .leftPart {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    .textPart {
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
}

.psychologistContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 25px 25px 80px 25px;

    .psychologistCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-radius: 16px;
        border: 1px solid $gray-300;
        background-color: $white;
        cursor: pointer;
        transition: all 0.2s ease;

        .psychologistCard:hover {
            background-color: #f8f9fc;
        }
    }

    .activeCard {
        border: 2px solid #988eff;
        background-color: #f8f9fc;
    }

    .leftSection {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .left-text-section {
        display: flex;
        flex-direction: column;
    }

    .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        color: $white;
        background: linear-gradient(135deg, #c27aff 0%, #2b7fff 100%);
    }

    .rightSection {
        display: flex;
        align-items: center;
        gap: 6px;
        white-space: nowrap;
    }
}

.drawer-header {
    border-bottom: 1px solid $gray-350;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drawer-header-left {
    display: flex;
    flex-direction: column;
}

.cross-icon {
    cursor: pointer;
}

.drawer-body {
    flex: 1;
    overflow-y: auto;
}

.drawer-bottom {
    border-top: 1px solid $border-text-gray;
    padding: 16px 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
