@use '@styles/theme' as *;

.container {
    background: #ffffff;
    border-radius: 12px;
    padding: 13px 15px;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        scrollbar-width: thin;
        display: block !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-200 !important;
        border-radius: 8px !important;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.dropdown-width {
    width: 50%;
}

.dropdown-bg {
    background-color: #fff;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}

.card {
    padding: 10px 9px;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    display: flex;
    gap: 12px;
    align-items: start;
}

.status-pending {
    width: fit-content;
    padding: 4px 10px;
    border-radius: 14px;
    background: #fffaeb;
    color: #b54708;
}

.status-done {
    width: fit-content;
    padding: 4px 10px;
    border-radius: 14px;
    background: #ecfdf3;
    color: #027a48;
}

.leftIcon {
    width: 56px;
    height: 56px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9fafb;
}

.rightContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
