@use '@styles/theme' as *;

.container {
    background: #ffffff;
    border-radius: 12px;
    padding: 13px 15px;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.dropdown-width {
    width: 50%;
}

.dropdown-bg {
    background-color: #fff;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
}

.card {
    padding: 10px 9px;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.status-pending {
    width: fit-content;
    padding: 4px 10px;
    border-radius: 14px;
    background: #fef3c7;
    color: #f59e0b;
}

.status-inprogress {
    width: fit-content;
    padding: 4px 10px;
    border-radius: 14px;
    background: #ecfdf3;
    color: #027a48;
}

.status-closed {
    width: fit-content;
    padding: 4px 10px;
    border-radius: 14px;
    background: #f8f9fc;
    color: $gray-700;
}
